<html>
	<header></header>
	<body>
		Thanks for signing up. Here's your info:<br><br>
		<b>User Name</b>: {{userName}}<br><br>
		Verify your email address with <a href="{{url}}">this link</a>
	</body>
</html>

