/*********************************
/* Solid Colors
*********************************/
.brand-light {
  color: #4EA5DB;
}
.brand {
  color: #2A6BB4;
}
.brand-dark {
  color: #1E68B6;
}
/*********************************
/* RGBA Colors
*********************************/
/*********************************
/* Font-Sizes
*********************************/
/*********************************
/* Borders
*********************************/
/*********************************
/* Globals
*********************************/
/*********************************
/* Partials
*********************************/
/*********************************
/* Sections
*********************************/
/**************************/
/*   Global DOM Elements  */
/**************************/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.pad-right-small {
 padding-right: 5px; 
}
.pad-right {
 padding-right: 10px; 
}
.pad-right-large {
 padding-right: 20px; 
}
.pad-left-small {
 padding-left: 5px; 
}
.pad-left {
 padding-left: 10px; 
}
.pad-left-large {
 padding-left: 20px; 
}

.margin-bottom-small {
 margin-bottom: 5px; 
}
.margin-bottom {
 margin-bottom: 10px; 
}
.margin-bottom-large {
 margin-bottom: 20px; 
}
.margin-top-small {
 margin-top: 5px; 
}
.margin-top {
 margin-top: 10px; 
}
.margin-top-large {
 margin-top: 20px; 
}
.margin-right-small {
 margin-right: 5px; 
}
.margin-right {
 margin-right: 10px; 
}
.margin-right-large {
 margin-right: 20px; 
}
.margin-left-small {
 margin-left: 5px; 
}
.margin-left {
 margin-left: 10px; 
}
.margin-left-large {
 padding-left: 20px; 
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.flex-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.flex-inline {
  display: inline-flex;
}
.flex-1 {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}
.flex-2 {
  -webkit-flex: 2 0 0;
  flex: 2 0 0;
}
.font-size-smaller {
  font-size: 12px;
}
@media (max-width: 768px) {
  .font-size-smaller {
    font-size: 10px;
  }
}
.font-size-small {
  font-size: 16px;
}
@media (max-width: 768px) {
  .font-size-small {
    font-size: 12px;
  }
}
.font-size-medium {
  font-size: 20px;
}
@media (max-width: 768px) {
  .font-size-medium {
    font-size: 16px;
  }
}
.font-size-large {
  font-size: 26px;
}
@media (max-width: 768px) {
  .font-size-large {
    font-size: 20px;
  }
}
.font-size-larger {
  font-size: 32px;
}
@media (max-width: 768px) {
  .font-size-larger {
    font-size: 26px;
  }
}
.font-size-largest {
  font-size: 42px;
}
@media (max-width: 768px) {
  .font-size-largest {
    font-size: 32px;
  }
}

/* 
color #69c
hover #48b
 */

/*  CORE  */
html,
body {
  background: #fff;
  height: 100%;
  line-height: normal;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
body, #app {
  display: flex;
  flex: 1;
}

h1{
  padding: 0;
  margin: 0;
}

header ul {
  list-style: none;
  margin: auto 10px auto auto;
}

ul { margin-bottom: 0; }
ul li {
  border: 1px #ccc solid;
  padding: 5px 5px;
  display: inline-block;
  border-radius: 3px;
}

ul li:not(:last-child) {
  margin: 0 5px;
}

ul li:hover, ul li.active {
  background-color: #69c;
  cursor: pointer;
  color: #fff;
}
ul li:hover, 
button:hover {
  background-color: #48b;
}

input, textarea {
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.overlay-container form input, 
.overlay-container form textarea {
  width: 100%;
}
form ul li {
  margin-bottom: 10px;
}
button {
  border: 1px #ccc solid;
  padding: 5px 5px;
  display: inline-block;
  border-radius: 3px;
  background-color: #69c;
  cursor: pointer;
  color: #fff;
}
button i {
  margin-right: 5px;
}
/* Header */
header {
  width: 100%;
  display: flex;
  border-bottom:1px solid rgba(111,111,111,.2); 
} 

header .fa-bars.inactive {
  background-color: white;
  color: black;

}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding-bottom: 5px;
  }
}  

header .logo {
  color: #777;
  display: flex;
  font-weight: bold;
  font-size: 42px;
  margin: auto 0 auto 4%;
}
header .logo span {
  color: #48b;
}
/* for hamburger menu icon */
header .logo i.active {
  background-color: #69c;
  color: #fff;
}

header nav {
  flex:1;
  display: flex;
}
header nav i {
  margin-right: 5px;
}


/* Footer */
footer {
  border-top:1px solid rgba(111,111,111,.2); 
  height: 5%;
  max-height: 50px;
  min-height: 25px;
  text-align: center;
}
footer .copy {
  margin: auto;
}

/**** Components ****/
/* icon-w-text */
.icon-w-text {
  background-color: #69c;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 5px;
  color: white;
  cursor: pointer;
}

.icon-w-text:hover {
  background-color: #48b;
}


/* LabledDrawer */
.labled-drawer {
  margin-top: 10px;
}
.labled-drawer .drawer {
  background-color: #fff;
  border: 2px solid #ddd;
  border-top: none;
  overflow: hidden;
  height: 0px;
  cursor: initial;
}
.labled-drawer .drawer.open {
  height: initial;
}
.labled-drawer .label {
  background-color: #e9e9e9;
  display:flex;
  font-size: 20px;
  height: 42px; 
  padding: 5px 5px 5px 10px;
}
.labled-drawer .label:hover {
    background-color: #ddd;
    cursor: pointer;
}
.labled-drawer .label .drawer-label {
  margin: auto 0;
}
.labled-drawer .label i {
  display: flex; 
  min-height: 20px;
  min-width: 20px;
}
.labled-drawer .label i:before {
  margin: auto;
}

/****** End Components *****/

.err-block {
  color: #8b0000;
}
.invalid span {
  color: #8b0000;
  font-weight: bold;
  margin-left: 5px;
  font-size: 12px;
}
.invalid input {
  border: 2px solid darkred;
}
/***********************/

/****** App & Pages ******/
.app-content {
  margin: 0 auto;
}

.content {
  flex:1;
  display: flex;
  overflow: hidden;
  position: relative;
}
@media(min-width: 1024px){
  .content{
    max-width: 1024px;
    margin: auto;
    border: 1px solid #ccc;
  }
}

.content li i {
  margin-right:5px;
}

.content .right-panel li {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: white;
  border-radius: 2px;
  font-size: 20px;
  margin: 0;
  overflow: hidden;
  padding: 10px;
  white-space: nowrap;
}
.content .right-panel {
  background-color: #69c;
  color: #fff;
  padding: 0;
  width: 300px;
}
.content .right-panel.min {
  width: 57px;  
}
.content .right-panel.hidden {
  display: none;
}
.content .right-panel.min li {
  width: 40px;  
}


.content .right-panel ul {
  display: flex;
  flex-direction: column;
}
.content .right-panel li.active {
  border-color: white;
  background-color: white;
  color: #333;
}
.content .right-panel li:hover {
  background-color: #48b;
  cursor: pointer;
  color: #eee;
}
.content .right-panel li i {
  margin-right: 15px;
}

/* AUTH PANEL */
.login-form, .signup-form {
  display: grid;
  place-items: center;
  row-gap: 10px;
}

.right-panel .signup-form.fadeout *{
  transition: opacity 1s;
  opacity: 0;
}
.right-panel .signup-form h1 {
  text-align: center;
}
.right-panel .signup-form label, .right-panel .login-form label{
  padding-right: 10px;
  margin-bottom: 2px;
}


.left-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}
.left-panel .home-content {
  flex: 1;
  padding: 10px;
}
.left-panel .home-content .meal-container {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.left-panel .home-content .courses,
.left-panel .home-content .meals {
  padding-bottom: 10px;
}
.left-panel .home-content .courses .none,
.left-panel .home-content .meals .none {
  font-weight: bold;
  text-align: center;
  margin: auto;
}
.left-panel .home-content .courses .none .action,
.left-panel .home-content .meals .none .action {
  font-size: 20px;
  margin: 20px 0 30px 0;
}
.left-panel .home-content .courses .none .tip,
.left-panel .home-content .meals .none .tip {
    font-size: 16px;
    min-width: 100px;
    max-width: 200px;
    margin: 0 auto;
    padding: 0 10px;
}
.left-panel .home-content .courses .none .tip i,
.left-panel .home-content .meals .none .tip i {
  font-size:30px;
  margin: 0 auto 10px;
}

.left-panel .home-content .courses .course-list,
.left-panel .home-content .meals .meal-list {
  display: flex;
  flex-wrap: wrap;
}
.left-panel .home-content .top {  
  display: flex;
  margin-bottom: 10px;
}
.left-panel .home-content .top .title {
  margin: auto 0;
  font-size: 26px;
}
.left-panel .home-content .top ul {
  margin: 0 0 0 auto;
}


/****** Overrides ******/
/*TODO: remove this if we do actual modals*/
.carousel.carousel-slider .control-arrow {
  background-color: rgba(10, 10, 10, .2) !important;
  opacity: .8 !important;
}
.carousel.carousel-slider .control-arrow:hover {
  background-color: rgba(10, 10, 10, .7) !important;
}
.carousel .slide img {
  height: 200px;
}

@media(min-width: 768px){
  .form-control {
    width: initial;
  }
}

/* bootstrap */
.content .nav.nav-pills .nav-link.active{
  background-color: #48b;
  color: white;
}
.content .nav.nav-pills .nav-link.disabled{
  color: #ccc;
}
.content .nav.nav-pills .nav-link {
  color: #69c;
}

