/*   Card   */
.course-card-container {
  margin: 5px;
  display: grid;
  max-width: 350px;
  min-width: 250px;
  border: 1px solid #ccc;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 39px auto;
  grid-template-areas: 
    "pic name name"
    "pic desc desc"
    "pic ingr ingr";
}

@media(max-width: 768px){
  .course-card-container {
    width:100%;
    max-width: initial;
  }
}

.course-card-container .pic {
    border-right: 1px solid #ccc;
    display: flex;
    grid-area: pic;
    height: 107px;
    width: 120px;
}

.course-card-container .pic img {
  width: 100%;
}

.course-card-container .pic i {
  color: #999;
  font-size: 82px;
  margin: auto;
  padding: 0 5px
}

.course-card-container .name {
  background-color: rgba(0,0,0,.05);
  font-size: 24px;
  grid-area: name;
  padding: 0 5px;
}
.course-card-container .description {
  display: flex;
  font-size: 12px;
  grid-area: desc;
  overflow: hidden;
  place-self: center;
  padding: 0 5px;
}

.course-card-container .ingredients {
  grid-area: ingr;
  display: flex;
  padding: 5px;
  overflow: auto;
  max-width: 100%;
  justify-content: center;
} 

.course-card-container .ingredients .tag:first-of-type {
  margin-left: auto;
}
.course-card-container .ingredients .tag:last-of-type {
  margin-right: auto;
}

.course-card-container .ingredients::-webkit-scrollbar,
.course-card-container .tags-list-container::-webkit-scrollbar
{
	height: 2px;
	background-color: #F5F5F5;
}
 
.course-card-container .ingredients::-webkit-scrollbar-thumb,
.course-card-container .tags-list-container::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.course-card-container .ingredients .tag {
    border: 1px solid #ccc;
    display: flex;
    padding: 5px;
    margin: 0px 0px auto 10px;
    white-space: nowrap;
}
/* @media (max-width: 768px) {
  .course-card-container {
    width: 190px;
  }
} */

.course-card-container:hover {
  border: 1px solid #69C;
  background-color: rgba(0, 120, 250, 0.1);
}
.course-card-container.selected { 
  border: 1px solid #69C;
  background-color: rgba(10, 70, 150, .3);
}
.course-card-container .label {
  font-weight: 600;
  font-variant-caps: petite-caps;
  padding: 2px 7px;
}
