/* Add edit course form */
.course-form-container {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.course-form-container .course-form {
  overflow: auto;
  flex: 1;
}

.course-form-container .course-form .pics-container {
  display: flex;
}
.course-form-container .course-form .course-pics {
  border-radius: 4px;
  border: 1px solid #ccc;
  display: flex;
  margin: auto;
  width: 250px;
}
.course-form-container .course-pics i {
    font-size: 100px;
    margin: auto;
    color: #999;
}
.course-form-container .course-form .course-pics-buttons {
  display: flex;
  flex-direction: column;
  margin: auto auto auto 0;
}
.course-form-container .course-pics-buttons li {
  margin: 10px;
  display: flex;
}
.course-form-container .course-pics-buttons li i {
  margin: auto;
  font-size: 20px;
  padding: 5px;
}
.course-form-container .course-pics-buttons button:first-child {
  margin-bottom: 0px;
}
.course-form-container ul.btns {
  margin-top: 30px;
  text-align: right;
}


.course-view-container {
  display: flex;
}
@media (max-width: 768px) {
  .course-view-container {
    height: 100%;
    overflow: auto;
  }
  .course-view-container {
    flex-direction: column;
  }
}
.course-view-container label {
  font-weight: bold;
}
.course-view-container .portion-price {
  font-size: 26px; /*.font-size-large */
  margin: 10px auto 0;
}
.course-view-container .course-pics {
  border-radius: 4px;
  border: 1px solid #ccc;
  display: flex;
  height: 150px;
  margin: 0 auto 10px auto;
  width: 200px;
}
.course-view-container .course-pics i{
  font-size: 100px;
  margin: auto;
  color: #999;
}
.course-view-container .left-row {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.course-view-container .right-row {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px 10px 0; 
}
.course-view-container .right-row label {
  margin-top: 10px;
}
.course-view-container .right-row div {
  margin-bottom: 10px;
}