/* Add edit meal form */

.meal-form-container .meal-form {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 100px;
  grid-template-rows: auto;
  grid-template-areas: 
    "price ."
    "size units";
}

.meal-form-container .meal-form .price {
    grid-area: price;
}
.meal-form-container .meal-form .size {
    grid-area: size;
}
.meal-form-container .meal-form .units {
    grid-area: units;
}