.prefs-page .account-section {
   display: grid;
   grid-column-gap: 10px;
   grid-template-columns: auto auto 1fr;
   grid-template-rows: auto;
   grid-template-areas: 
     "userId name ."
     "phone email .";
    
    justify-content: start;
}
.prefs-page .account-section .userId {
    grid-area: userId;
}
.prefs-page .account-section .name {
    grid-area: name;
}
.prefs-page .account-section .phone {
    grid-area: phone;
}
.prefs-page .account-section .email {
    grid-area: email;
}


.prefs-page .security-section {
    display: grid;
    grid-template-areas: 'pwd';
}
.prefs-page .security-section .pwd {
    grid-area: pwd;
}


.prefs-page .location-section {
    display: grid;
    grid-template-areas: 
        'loc .'
        'zip .'
        'address1 address2'
        'city state';
}
.prefs-page .location-section .zip {
    grid-area: zip;
}
.prefs-page .location-section .loc {
    grid-area: loc;
}
.prefs-page .location-section .state {
    grid-area: state;
}
.prefs-page .location-section .address1 {
    grid-area: address1;
}
.prefs-page .location-section .address2 {
    grid-area: address2;
}
.prefs-page .location-section .city {
    grid-area: city;
}

.prefs-page .cook-section {
    grid-area: 'cook';
}

.prefs-page .general-section {
    grid-area: 'general';
}


@media(max-width:768px){
    .prefs-page .account-section,
    .prefs-page .cook-section,
    .prefs-page .location-section,
    .prefs-page .security-section,
    .prefs-page .general-section {
        display: block;
    }
}