
/* Overlay */
.overlay-container {
  background-color: rgba(100,100,100,.4);
  bottom: 0;
  cursor: pointer;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.overlay-container .component-container {
  border-radius: 3px;
  background-color: white;
  cursor: default;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
}
@media (max-width: 768px) {
  .overlay-container .component-container {
    width: 100%;
  }
}

.overlay-container .component-container.left {
  margin-left: 0;
}
.overlay-container .component-container.right {
  margin-right: 0;
}

.overlay-container .overlay-title {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.overlay-container .overlay-title i {
  margin-left: 5px;
}
.overlay-container .overlay-title .title{
  margin: auto 0;
 }

.overlay-container i.fa-close {
  cursor: pointer;
  font-size: 20px;
  margin: auto 0 auto auto;
  padding: 5px;
  border-radius: 3px;
}
.overlay-container .overlay-footer {
  margin-top: 10px;
  text-align: right;
}
.overlay-container .overlay-footer i:not(:first-child) {
  margin-left: 10px; 
}
