.profile-page .avatar {
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    display: grid;
    height: 128px;
    place-content: center;
    text-align: center;
    width: 128px;
}

.profile-page .avatar img {
    height: 128px;
    width: 128px;
}

.profile-page .avatar .none i {
    color: #666;
    font-size: 65px;
    margin: 10px;
}

.profile-page .remove-avatar {
    width:128px
}    

.profile-page .profile-location-form {
    padding: 20px;
    margin: auto;
}