.search-page .search-form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "zipLbl distLbl" "zip dist" "loc search-btn";
    justify-content: center;
    grid-column-gap: 10px;
    margin: 10px 0;
}
.search-page .search-form .loc {
  grid-area: loc;
  margin: 0;
  min-width: 35px;
}
.search-page .search-form .dist {
  grid-area: dist;
  justify-self: center;
}
.search-page .search-form .dist-label {
  grid-area: distLbl;
}
.search-page .search-form .zip {
  grid-area: zip;
  justify-self: center;
  display: flex;
}
.search-page .search-form .zip-label {
  grid-area: zipLbl;
}
.search-page .search-form .zip input {
  max-width: 100px;
  border-radius: 4px 0 0 4px;
}
.search-page .search-form .zip li {
  border-radius: 0 4px 4px 0;
}
.search-page .search-form .search-btn {
  grid-area: search-btn;
}


.search-page .meal {
  text-align: center;
  background-color:#69c;
  border: 1px solid #333;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0; 
  padding: 5px;
  border-radius: 3px;
} 
.search-page .meal > div {
  margin: 3px 0;
}

.search-page .meal.active {
  border: 1px solid white;
  background-color: white;
  color: black;
}

.search-page .meal:hover {
  background-color: #48b;
  color: white
}