/* TAG INPUT */
.tag-input-container {
  position: relative;
}
.tag-input-container input{
  margin-bottom: 0;
}
form .tag-input-container {
  margin-bottom: 20px;
}

.tag-input-container .tag-suggestions-container {
  border: 1px solid #ccc;
  border-top: none;
  padding: 5px;
  text-align: right;
  background-color: #fff;
  position: absolute;
  width: 100%;
}

.tag-input-container .tags-list-container { 
  display: flex;
  overflow: auto;
  max-width: 370px;
}
.tag-input-container .tags-list-container input { 
  min-width: 100px;
}
.tag-input-container .tags-list-container .tag {
  border: 1px solid #ccc;
  display: flex;
  padding: 5px;
  margin: 0px 0px 0 10px;
  white-space: nowrap;
}
.tag-input-container .tags-list-container .tag span {
  margin: auto;
}

.tag-input-container .tags-list-container .tag .x {
  border: 1px solid #ccc;
  cursor: pointer;
  margin: auto 0px auto 5px;
  padding: 0 5px;
}
.tag-input-container .tags-list-container .tag .x:hover {
  background-color: #69c;
  color: #fff;
}

.tag-input-container .tag-suggestions-container {
  z-index: 1;
}
.tag-input-container .tag-suggestions-container .tag-suggestion {
  margin: 5px;
}

